@font-face {
    font-family: 'Mulish';
    src: url('./../fonts/Mulish-Black.eot');
    src: url('./../fonts/Mulish-Black.eot?#iefix') format('embedded-opentype'),
        url('./../fonts/Mulish-Black.woff2') format('woff2'),
        url('./../fonts/Mulish-Black.woff') format('woff'),
        url('./../fonts/Mulish-Black.ttf') format('truetype'),
        url('./../fonts/Mulish-Black.svg#Mulish-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('./../fonts/Mulish-Bold.eot');
    src: url('./../fonts/Mulish-Bold.eot?#iefix') format('embedded-opentype'),
        url('./../fonts/Mulish-Bold.woff2') format('woff2'),
        url('./../fonts/Mulish-Bold.woff') format('woff'),
        url('./../fonts/Mulish-Bold.ttf') format('truetype'),
        url('./../fonts/Mulish-Bold.svg#Mulish-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('./../fonts/Mulish-ExtraBold.eot');
    src: url('./../fonts/Mulish-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('./../fonts/Mulish-ExtraBold.woff2') format('woff2'),
        url('./../fonts/Mulish-ExtraBold.woff') format('woff'),
        url('./../fonts/Mulish-ExtraBold.ttf') format('truetype'),
        url('./../fonts/Mulish-ExtraBold.svg#Mulish-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('./../fonts/Mulish-Light.eot');
    src: url('./../fonts/Mulish-Light.eot?#iefix') format('embedded-opentype'),
        url('./../fonts/Mulish-Light.woff2') format('woff2'),
        url('./../fonts/Mulish-Light.woff') format('woff'),
        url('./../fonts/Mulish-Light.ttf') format('truetype'),
        url('./../fonts/Mulish-Light.svg#Mulish-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('./../fonts/Mulish-ExtraLight.eot');
    src: url('./../fonts/Mulish-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('./../fonts/Mulish-ExtraLight.woff2') format('woff2'),
        url('./../fonts/Mulish-ExtraLight.woff') format('woff'),
        url('./../fonts/Mulish-ExtraLight.ttf') format('truetype'),
        url('./../fonts/Mulish-ExtraLight.svg#Mulish-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('./../fonts/Mulish-Medium.eot');
    src: url('./../fonts/Mulish-Medium.eot?#iefix') format('embedded-opentype'),
        url('./../fonts/Mulish-Medium.woff2') format('woff2'),
        url('./../fonts/Mulish-Medium.woff') format('woff'),
        url('./../fonts/Mulish-Medium.ttf') format('truetype'),
        url('./../fonts/Mulish-Medium.svg#Mulish-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('./../fonts/Mulish-SemiBold.eot');
    src: url('./../fonts/Mulish-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('./../fonts/Mulish-SemiBold.woff2') format('woff2'),
        url('./../fonts/Mulish-SemiBold.woff') format('woff'),
        url('./../fonts/Mulish-SemiBold.ttf') format('truetype'),
        url('./../fonts/Mulish-SemiBold.svg#Mulish-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('./../fonts/Mulish-Regular.eot');
    src: url('./../fonts/Mulish-Regular.eot?#iefix') format('embedded-opentype'),
        url('./../fonts/Mulish-Regular.woff2') format('woff2'),
        url('./../fonts/Mulish-Regular.woff') format('woff'),
        url('./../fonts/Mulish-Regular.ttf') format('truetype'),
        url('./../fonts/Mulish-Regular.svg#Mulish-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

