*,
html {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: normal;
  color: var(--black);
  font-family: "Mulish", sans-serif;
  font-weight: 400;
}
@media (min-width: 1400px) {
  .container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
  }
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/* common */
.section-heading {
  margin: 0;
  font-size: 36px;
  line-height: 56px;
  font-weight: 700;
  color: var(--black);
}

.section-divder-line {
  margin: 25px auto;
  max-width: 56px;
  background-color: var(--black);
  padding: 1px 0;
  border-radius: 5px;
}

.section-detail {
  margin: 0 auto;
  max-width: 1000px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  color: var(--secondary);
}

/* End */

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0;
}

.main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-nav ul a {
  text-decoration: none;
  display: block;
  padding: 0 20px;
  font-size: 18px;
  color: #1f1534;
}

.main-nav ul li:last-child a {
  padding: 0;
}

.health-care-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 55px 0;
}

.health-care-section .left-content {
  max-width: 445px;
}

.health-care-section .left-content button {
  border: 0;
  font-size: 18px;
  line-height: 56px;
  font-weight: 700;
  background-color: var(--primary);
  border-radius: 55px;
  padding: 0 40px;
  color: var(--white);
}

.health-care-section .right-content {
  max-width: 690px;
  padding: 0 0 0 25px;
}
.health-care-section .right-content img {
  display: block;
}

.health-care-section .left-content h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}

.health-care-section .left-content p {
  margin: 20px 0 55px 0;
  font-size: 21px;
  font-weight: 300;
  line-height: 32px;
  color: var(--secondary);
}
.our-service-section {
  text-align: center;
  margin: 110px 0;
}

.various-services {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  gap: 35px;
  margin: 80px 0;
  z-index: 2;
}

/* .various-services::before {
  content: " ";
  position: absolute;
  background-image: url("../images/Vector.png");
  background-repeat: no-repeat;
  top: 0px;
  width: 50%;
  height: 100%;
  left: 40px;
  background-size: 100%;
  z-index: 1;
} */

.service {
  max-width: 350px;
  text-align: left;
  padding: 40px;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
}
.service-image {
  height: 95px;
}

.service h3 {
  font-size: 24px;
  line-height: 20px;
  color: var(--black);
  font-weight: 700;
}
.service p {
  font-size: 16px;
  line-height: 28px;
  color: var(--secondary);
}

.more-service-button {
  background-color: var(--white);
  border: 1.4px solid var(--primary);
  border-radius: 54px;
  font-size: 18px;
  padding: 0 53px;
  line-height: 52px;
  color: var(--primary);
  margin: 50px 0;
}

/* .app-section {
} */
.service-provider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-provider .left-content {
  max-width: 660px;
  margin-left: -100px;
}

.service-provider .left-content img {
  display: block;
}

.service-provider .right-content {
  max-width: 480px;
  margin-left: 110px;
  text-align: start;
}

.service-provider .right-content hr {
  margin-left: 0;
}

.download-app {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

.download-app .left-content {
  text-align: start;
  margin-right: 115px;
}

.download-app .left-content hr {
  margin-left: 0;
}

.download-app .right-content {
  max-width: 660px;
  margin-right: -20px;
}

.download-app .right-content img {
  display: block;
}

.site-footer {
  display: block;
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
  padding: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  color: var(--white);
}
